body {
    background-image: url('https://i.imgur.com/cYCloJ8.jpg');
    background-size: cover;
    }

#btns-grp {
    padding: 15px;
    justify-content: center;
    text-align: center;
}

#banListPreview {
    justify-content: center;
}

.flex-box {
    display: flex;
    justify-content: center;
}

textarea {
    background-color: #0d5375;
    overflow: auto;
    resize: vertical;
    color: white;
}
