body {
  background-image: url("https://i.imgur.com/cYCloJ8.jpg");
  background-size: cover;
}

#btns-grp {
  padding: 15px;
  justify-content: center;
  text-align: center;
}

#banListPreview {
  justify-content: center;
}

.flex-box {
  display: flex;
  justify-content: center;
}

#limitation-selection {
  color: white;
  padding: 5px;
}

#ind-selection {
  color: white;
  padding: 5px;
}

#itemAddedBtn {
  padding: 5px;
}

#location-selection {
  color: white;
  padding: 5px;
}

#whiteListBox {
  color: white;
  padding: 5px;
}

#deckSizeBox {
  color: white;
  padding: 5px;
}

#banlistName {
  padding: 5px;
}

#noDeckSize {
  padding: 5px;
}

textarea {
  background-color: #0d5375;
  overflow: auto;
  resize: vertical;
  color: white;
}
