body {
  background-image: url("bg.jpg");
  background-color: black;
  background-size: cover;
}

#btns-grp {
  padding: 15px;
  justify-content: center;
  text-align: center;
}

#banListPreview {
  justify-content: center;
}

.flex-box {
  display: flex;
  justify-content: center;
}
.user-cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  gap: 0.25rem;
  margin: 1rem;
}

#listArea {
  width: 400px;
}

.prev {
  text-align: center;
}

.scroll {
  background-color: #3a4f76;
  width: 735px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 5px;
}

#card-thumb {
  width: 50px;
  height: 50px;
}
#templateCard {
  content-visibility: auto;
}

#userScroll {
  content-visibility: auto;
}

#carddiv {
  content-visibility: auto;
}

@media only screen and (max-width: 600px) {
  #listArea {
    width: 400px;
  }
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
}

.contentCards {
  display: flex;
  height: 100px;
}

.contentCards:hover {
  background-color: #0d5375;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}

#numb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  color: black;
}

.card > .header {
  margin-bottom: 0.25rem;
}

.card > .body {
  font-size: 0.8 rem;
  color: #777;
}

.hide {
  display: none;
}

#limitation-selection {
  color: white;
  padding: 5px;
}

#ind-selection {
  color: white;
  padding: 5px;
}

#ctype-selection {
  color: white;
  padding: 5px;
}

#mArch-selection {
  color: white;
  padding: 5px;
}

#mType-selection {
  color: white;
  padding: 5px;
}

#mRace-selection {
  color: white;
  padding: 5px;
}

#GenerateTextBtn {
  text-align: center;
}

#attr-selection {
  color: white;
  padding: 5px;
}

#cat-selection {
  color: white;
  padding: 5px;
}

#itemAddedBtn {
  padding: 5px;
}

#location-selection {
  color: white;
  padding: 5px;
}

#whiteListBox {
  color: white;
  padding: 5px;
  width: 380px;
  text-align: center;
}

#deckSizeBox {
  color: white;
  padding: 5px;
}

#banlistName {
  padding: 5px;
}

#noDeckSize {
  padding: 5px;
}

textarea {
  background-color: #0d5375;
  overflow: auto;
  resize: vertical;
  color: white;
}

.header {
  color: black;
}
